%h1 Listing carriers

%table
  %tr
    %th Name
    %th City
    %th Address
    %th Phone
    %th Telephone
    %th Fax
    %th Email
    %th Web site
    %th
    %th
    %th

  - @carriers.each do |carrier|
    %tr
      %td= carrier.name
      %td= carrier.city_id
      %td= carrier.address
      %td= carrier.phone
      %td= carrier.telephone
      %td= carrier.fax
      %td= carrier.email
      %td= carrier.web_site
      %td= link_to 'Show', carrier
      %td= link_to 'Edit', edit_carrier_path(carrier)
      %td= link_to 'Destroy', carrier, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Carrier', new_carrier_path
