!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Новий запит
    %p
      Від #{@params[:name]} 
    %p
      #{@params[:adult]} - Дорослих
    %p
      #{@params[:child]} - Пільгових
    %p
      #{@params[:phone]} - Телефон
    %p 
      #{@params[:email]} - Скринька