%h1 Listing date_lists

%table
  %tr
    %th Day
    %th
    %th
    %th

  - @date_lists.each do |date_list|
    %tr
      %td= date_list.day
      %td= link_to 'Show', date_list
      %td= link_to 'Edit', edit_date_list_path(date_list)
      %td= link_to 'Destroy', date_list, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Date list', new_date_list_path
