- if t.any? 
  %ul.thumbnails
    - t.each do |ticket|
      - if ticket.two_ways_price
        %li.span2.thumbnail{ :class => "pagination-centered" }
          %h1= "#{ticket.two_ways_price.adult} €"
          %p= "Пільговий #{ticket.two_ways_price.child} €"
          %h4= "Туди - рейс #{ticket.departures.where(:departure_date_id => DepartureDate.find_by_day_of_life(Date.strptime(p[:date_from], '%d/%m/%Y')).id).first.trip_number}"
          %h4= "Назад - рейс #{ticket.departures.where(:departure_date_id => DepartureDate.find_by_day_of_life(Date.strptime(p[:date_to], '%d/%m/%Y')).id).first.trip_number}"
          %p= link_to 'Детальніше', ticket, :remote => true, :class => "btn btn-primary"
          %p= link_to 'Забронювати', ticket, :remote => true, :class => "btn btn-success"
- else
  = render "tickets/empty_search"

#ticketPopup.modal.fade