.row
  .span3
    = form_tag search_tickets_path, :class => "well", :method => "get", :remote => true do
      %fieldset
        %legend Куди бажаєте поїхати?
        = select_tag :city_from, options_for_select(@cities_from.cities.collect { |p| [ p.name, p.id ] }), {:prompt => 'Оберіть місто виїзду або Всі'}
        = select_tag :city_to, option_groups_from_collection_for_select(@countries_to, :cities, :name, :id, :name), {:prompt => 'Оберіть місто прибуття або Всі'}
        .block
          .block1
            = radio_button_tag :one_way, true
            %span Тільки туди
            = text_field_tag :date_from , '', :class => "input-small required", :placeholder => "Виїзд"
          .block2
            = radio_button_tag :one_way, false, true
            %span Туди і назад
            = text_field_tag :date_to , '', :class => "input-small required", :placeholder => "Повернення"
        .block
          = label_tag :tickets, "Кількість квитків"
          .block1
            = number_field_tag :adult , '', :class => "input-small", :placeholder => "Повних", :in => 1...30
          .block2
            = number_field_tag :child , '', :class => "input-small", :placeholder => "Пільгових", :rel => "tooltip", :title => "Діти до 14 років, студенти до 21 року та пенсіонери", :in => 1...30
      = submit_tag "Шукати"
  .span9
    / #search_title
    /   = render "tickets/search_title", :t => @tickets, :p => @params
    #trips
      = render "tickets/search", :t => @tickets, :p => @params