= form_for [:admin, @ticket] do |f|
  = f.label :kod
  = f.text_field :kod, :size => 20
  = f.fields_for :ways do |way|
    = render "admin/tickets/way", :f => way, :r => f
  %p
    = link_to_add_fields "add", f, :ways
  = submit_tag
