= semantic_form_for [:admin, @ticket] do |f|
  = f.inputs do
    = f.input :kod
    = f.semantic_fields_for :ways_attributes do |way|
      = way.input :direction
      = way.input :city_id
  = f.actions :submit
