= form_for [:admin, @ticket] do |f|
  = f.label "Перевізник"
  = f.select :carrier_id, ['']+Carrier.find(:all).collect {|p| [ p.name, p.id ] }
  %fieldset.inputs
    = f.fields_for :ways do |way|
      = render "admin/tickets/way", :f => way
    %p
      = link_to_add_fields "add", f, :ways
  %fieldset.inputs
    = f.fields_for :departures do |departure|
      = render "admin/tickets/departure", :f => departure
    %p
      = link_to_add_fields "add", f, :departures
  = submit_tag