= form_for [:admin, @ticket] do |f|
  %fieldset.inputs
    = f.label "Перевізник"
    = f.select :carrier_id, ['']+Carrier.find(:all).collect {|p| [ p.name, p.id ] }
    %hr
    %table
      %tbody
        %tr
          %th Напрямок
          %th Місто
          %th Місце зупинки
          %th Час зупинки
          %th Дія
        = f.fields_for :ways do |way|
          = render "admin/tickets/way", :f => way
        %tr
          %td{ :colspan => 4 }
          %td
            = link_to_add_fields "Додати", f, :ways
    %hr
    %table
      %tbody
        %tr
          %th Напрямок
          %th Номер рейсу
          %th Дата виїзду
          %th Дія
        = f.fields_for :departures do |departure|
          = render "admin/tickets/departure", :f => departure
        %tr
          %td{ :colspan => 3 }
          %td 
            = link_to_add_fields "Додати", f, :departures
    %hr
    %table
      %tbody
        %tr
          %th{ :colspan => 3 } Вартість послуг
        %tr
          %th 
          %th Дорослий
          %th Дитячий
        = render "admin/tickets/price", :f => f
  = submit_tag