%tr.ways_fields
  %td
    = f.check_box :direction
  %td
    = f.select :city_id, [''] +City.find(:all, :order => "country_id, name" ).collect {|p| [ p.name, p.id ] }
  %td
    = f.text_field :place_stop
  %td
    = f.text_field :time_stop
  %td
    = link_to_remove_fields "Видалити", f, :ways