!!!
%html
  %head
    %title Бронювання чартерних автобусних рейсів
    %meta{ :name => "keywords", :content => "Болгарія, автобус в Болгарію, квитки на автобус в Болгарію, чартерні рейси, автобусні квитки до Болгарії" }
    %meta{ :name => "description", :content => "Бронювання чартерних автобусних рейсів до Болгарії" }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if gte IE 9]
      :css
        body {
          filter: none;
        }
    %link{:href => "/assets/logo.ico", :rel => "shortcut icon", :type => "image/x-icon"}
  %body
    .container
      .row
        .span12
          %img.logo{:src => '/assets/logo.png' }
            %p.title Бронювання чартерних автобусних рейсів.
      .navbar
        .navbar-inner
          .container
            %a.btn.btn-navbar{ :'data-toggle' => "collapse", :'data-target' => ".nav-collapse" }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{ :href => root_path }
              Bus Guide
            .nav-collapse
              %ul.nav
                %li.divider-vertical
                %li{class: current_page?(root_path) && 'active'}= link_to "Головна", :root
                %li.divider-vertical
                %li{class: current_page?(search_tickets_path) && 'active'}= link_to "Знайти рейс", search_tickets_path
                %li.divider-vertical
                %li{class: current_page?(about_us_information_index_path) && 'active'}= link_to "Про нас", about_us_information_index_path
                %li.divider-vertical
                %li{class: current_page?(how_it_works_information_index_path) && 'active'}= link_to "Як це працює", how_it_works_information_index_path 
                %li.divider-vertical
              %ul.nav.pull-right
                / %li{class: request.path.split('/')[1] == "my" && 'active'}= link_to "My Cabinet", [:cabinet, :reservations]
                / %li.divider-vertical
                / %li= link_to "Logout", :destroy_user_session, :method => :delete
      

      = render 'shared/flash'
      = yield
      .push25

      .footer
        .delimeter.top
        .footer_content
          \© 2012
          = succeed "." do
            %a{:href => "http://mongrasse.com.ua", :target => "_blank", :title => "Туристична компанія Монграссе"} TK Mongrasse
          Created by 
          %a{:target => '_blank', :href => "http://www.linkedin.com/pub/viktor-oleksyn/44/573/954"} Viktor Oleksyn
      .push25
    / = render 'shared/feedback'